@keyframes Wiggle {
  0% {
    transform: rotate(45deg);
  }
  50% {
    transform: rotate(-45deg);
  }
  100% {
    transform: rotate(45deg);
  }
}
ul {
  padding: 0;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: sans-serif;
}

.subhead {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 50px;
}

.mustache-underline {
  width: 3rem;
  position: absolute;
  left: 0;
  top: 0;
  transition: all 0.2s;
  display: none;
}

a {
  color: white;
  text-decoration: none;
}

#top-nav {
  width: 100vw;
  height: auto;
  position: absolute;
  top: 0;
  z-index: 5;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.links {
  font-size: 20px;
  cursor: pointer;
}

#top-logo {
  font: 50px "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: white;
}

.main-section {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
}
.main-section .dark-cover {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
}
.main-section .main-bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#scissors {
  width: 20rem;
  position: absolute;
  top: 7rem;
  z-index: 6;
}

.services {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
}
.services h1 {
  color: white;
  margin-top: 10rem;
}

.services-menu {
  width: 80%;
  height: 80%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.services-menu ul {
  list-style: none;
  font: 25px "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: white;
}
.services-menu ul li {
  margin-bottom: 2rem;
}

#hairguy {
  width: 10rem;
  margin-bottom: 5rem;
}

.about-section {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.about-wrapper {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.about-info {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.about-info p {
  font-size: 25px;
}

#shop-img {
  width: 50%;
}

#big-blade {
  position: absolute;
  left: 10rem;
  top: -15rem;
  width: 35rem;
}

.barber-section {
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  padding: 2rem 0rem;
  position: relative;
  padding-bottom: 10rem;
}
.barber-section h1 {
  color: white;
}

.the-barber {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10rem 0rem;
}

.barber {
  width: 14rem;
}

.barber-info {
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.barbers-cuts {
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
}
.barbers-cuts .haircuts {
  width: 100%;
  max-height: 25rem;
  object-fit: cover;
  transition: all 0.2s;
}
.barbers-cuts .haircuts:hover {
  transform: scale(1.3);
}

.barber-tools {
  width: 5rem;
  animation-name: Wiggle;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

#comb {
  position: absolute;
  right: -10rem;
  top: 15rem;
  animation-delay: 0.5s;
}

#blade {
  position: absolute;
  left: -10rem;
  top: 10rem;
  animation-delay: 1s;
}

#glass {
  width: 25rem;
  transform: rotate(-20deg);
  position: absolute;
  top: -10rem;
  right: 10rem;
}

.review-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: relative;
}
.review-section h1 {
  margin-top: 20rem;
}

.reviews {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.reviews img {
  width: 90%;
}

.contact-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

#map {
  width: 70vw;
  height: 50vh;
  margin-top: 2rem;
}

.contact-info-container {
  width: 70vw;
  height: 5rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #ececec;
  border: solid 1px #dddddd;
}

.contact-info {
  display: flex;
  align-items: center;
}
.contact-info img, .contact-info span {
  margin: 0rem 2rem;
}
.contact-info span {
  font: bold 25px sans-serif;
  cursor: pointer;
}
.contact-info span:hover {
  color: teal;
}

.footer {
  width: 100vw;
  height: 25rem;
  background-color: #272727;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  clip-path: polygon(0% 20%, 50% 0%, 100% 20%, 100% 100%, 0% 100%);
}

.footer-menu {
  display: flex;
  list-style: none;
}
.footer-menu li {
  margin: 0rem 2rem;
  font-size: 20px;
  color: white;
}

#scissors-footer {
  width: 15rem;
}

#back-btn {
  position: absolute;
  top: 3rem;
  left: 2rem;
  width: 10rem;
  background-color: transparent;
  border: none;
  font-size: 25px;
  color: #6b6b6b;
  cursor: pointer;
}

#back-btn:hover {
  color: #000000;
}

@media screen and (max-width: 1600px) {
  #big-blade {
    width: 20rem;
    top: -10rem;
    left: 5rem;
  }

  #glass {
    width: 20rem;
    right: 5rem;
  }
}
@media screen and (max-width: 1440px) {
  #hairguy {
    width: 5rem;
  }

  #big-blade {
    width: 15rem;
    top: -7rem;
  }

  #glass {
    width: 15rem;
  }

  #map, .contact-info-container {
    width: 90vw;
  }
}
@media screen and (max-width: 1024px) {
  .about-wrapper {
    flex-direction: column;
  }

  .about-info {
    width: 80%;
  }

  .barbers-cuts {
    grid-template-columns: 1fr 1fr;
  }

  .contact-info img {
    width: 1.5rem;
    margin: 0rem 1rem;
  }

  .contact-info span {
    font-size: 18px;
    margin: 0rem 1rem;
  }
}
@media screen and (max-width: 768px) {
  .links {
    display: none;
  }

  #big-blade {
    display: none;
  }

  .subhead {
    font-size: 40px;
  }

  .mustache-under {
    width: 18rem;
  }

  .barber {
    width: 10rem;
  }

  .barber-section h1 {
    font-family: sans-serif;
  }

  .barber-tools {
    width: 3rem;
  }

  #comb {
    right: -4rem;
  }

  #blade {
    left: -4rem;
  }

  #shop-img {
    width: 90%;
  }

  #glass {
    display: none;
  }

  .contact-info-container {
    flex-direction: column;
  }

  .footer-menu li {
    margin: 0rem 1rem;
  }
}
@media screen and (max-width: 425px) {
  .services {
    min-height: 40rem;
  }
  .services h1 {
    margin-top: 5rem;
  }

  .services-menu ul {
    font-size: 16px;
  }

  .about-section {
    min-height: 40rem;
  }

  .about-info p {
    font-size: 18px;
  }

  .barbers-cuts {
    grid-template-columns: 1fr;
  }

  .review-section h1 {
    margin-top: 10rem;
  }

  .contact-info img {
    margin: 0rem 0.1rem;
  }

  .contact-info span {
    font-size: 14px;
  }

  .footer-menu li {
    font-size: 16px;
    margin: 0rem 0.75rem;
  }

  #scissors-footer {
    width: 10rem;
  }
}

/*# sourceMappingURL=style.css.map */
